<div class="nav">
	<div class="row">
		<div class="column pl2">
			{{#if leftNavItem}}
				<p>{{ leftNavItem }}</p>
			{{/if}}
		</div>
		<div class="column center-text pl2">
			{{#if centerNavItem}}
				<p>{{ centerNavItem }}</p>
			{{/if}}
		</div>
		<div class="column right-text pr2">
			{{#if rightNavItem}}
				<p>{{ rightNavItem }}</p>
			{{/if}}
		</div>
	</div>
</div>