<img src="img/707.jpg" alt="707" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">707</h1>
	<p>low life chasin highs for aimless days and haunted nights. dancing between derelict and dark. something about this house, the table residue, the fucked up couch ~ it’s our zone. let’s stay stuck, let’s stay numb.</p>
	<a href="https://soundcloud.com/616-house/sets/bringthe707out" target="_blank">
		<p class="underline">soundcloud</p>
	</a>
	<a href="https://music.apple.com/us/playlist/707/pl.u-mJy89l7CyYb8GD" target="_blank">
		<p class="underline">apple music</p>
	</a>
	<a href="https://open.spotify.com/playlist/4UHGmhatFt0TrTaYthXhCA?si=9f423124355b434b" target="_blank">
		<p class="underline">spotify</p>
	</a>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' centerNavUrl='playlists' rightNavItem='707' }}