<img src="img/a_socialite_in_suburbia.jpg" alt="a socialite in suburbia playlist" class="u-full-width">
<div class="px2 pt2 pb5">
	<h1 class="entry-title bold-text">a socialite in suburbia, a writer with rhythm</h1>
	<p>the smile you see in the pictures is face value<br>
		a facade for the moment<br>
		some are best left uncaptured and forgotten.<br>
		a Kodak series of lost weekends don’t make for good stories, or writing wrongs<br>
		I don’t know if it’s therapy or escapism anymore.<br>
		~<br>
		lonely, like an undisturbed footstep in the sand<br>
		but not on the dancefloor</p>
	<a href="https://soundcloud.com/616-house/sets/a-socialite-in-suburbia" target="_blank">
		<p class="underline">soundcloud</p>
	</a>
	<a href="https://music.apple.com/us/playlist/a-socialite-in-suburbia-a-writer-with-rhythm/pl.u-11zBVY3T2KApxb" target="_blank">
		<p class="underline">apple music</p>
	</a>
	<a href="https://open.spotify.com/playlist/6CyieQPPAU0OZqQVunKwVz?si=6d5af7a70cca4413" target="_blank">
		<p class="underline">spotify</p>
	</a>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' centerNavUrl='playlists' rightNavItem='a socialite in suburbia' }}