<img src="img/arias_waiting_room.jpg" alt="Aria's waiting room" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">Aria's waiting room</h1>
	<p>Aria’s favorite songs over the intercom,<br>
		I’ve never been to a club with a waiting room before,<br>
		Thoughts loud in my head,<br>
		cures the ringing in my ears for the moment,<br>
		I’m here for you,<br>
		but you’re here for the party,<br>
		Where even is your head at?<br>
		probably somewhere between punk and a lost cause,<br>
		I’ll hold out this time,<br>
		just know actions have consequences,<br>
		so I’ll listen for now but not forever</p>
	<a href="https://soundcloud.com/616-house/sets/arias-waiting-room" target="_blank">
		<p class="underline">soundcloud</p>
	</a>
	<a href="https://music.apple.com/us/playlist/arias-waiting-room/pl.u-aZb0D84FyRNZ9o" target="_blank">
		<p class="underline">apple music</p>
	</a>
	<a href="https://open.spotify.com/playlist/5ovXQI2MqFXyUdZyFsTBGQ?si=711ed65d73344de0" target="_blank">
		<p class="underline">spotify</p>
	</a>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' centerNavUrl='playlists' rightNavItem='Aria\'s waiting room' navType='sticky' }}