<img src="img/art_school_graduate.jpg" alt="art school graduate playlist" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">art school graduate // the apartment we share</h1>
	<p>I’m so glad we’re different.<br>
		forever studying you ~<br>
		swear I’m an art student too.<br>
		the Sorayama glints — sexy for sure, but not one of one.<br>
		only you captivate when you’re lost in some postmodernist book<br>
		reading glasses resting, baggy clothes and hair pulled back<br>
		skin warm like your favorite herbal tea<br>
		a green thumb tending sunlight in the living room<br>
		and the golden cedar incense burning on the coffee table.<br>
		the crib sleeps when you leave<br>
		colors go mute and the record fades<br>
		the only reason I breathe and lose my breathe</p>
	<a href="https://soundcloud.com/616-house/sets/art-school-graduate" target="_blank">
		<p class="underline">soundcloud</p>
	</a>
	<a href="https://music.apple.com/us/playlist/art-school-graduate-the-apartment-we-share/pl.u-d2b0lLXtDGlNp4" target="_blank">
		<p class="underline">apple music</p>
	</a>
	<a href="https://open.spotify.com/playlist/4C3GeUYp6XQy13UaCMbskZ?si=3356c65fcd6149d1" target="_blank">
		<p class="underline">spotify</p>
	</a>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' centerNavUrl='playlists' rightNavItem='art school graduate' navType='sticky' }}