<img src="img/blueprint_of_us.jpg" alt="Blueprint of Us" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">Blueprint of Us</h1>
	<p>Crimson colored synths dance around our loft. Usually between the hours of 2 - 4AM. We take turns playing our favorite songs. You play one & let me play two because you like me. Porcelain colored vocals shower across the space. I always loved us. When the tunnel vision started to clear, thats when we’d put our heads down and accelerate faster. But I hear distortion when you speak now. I guess it’s true we mature by damage. Onyx colored bass starts to roll in like fog. It’s late now. You look at me the same, but I can’t reciprocate. This wall between us was never in the blueprint.</p>
	<a href="https://soundcloud.com/616-house/sets/blueprint-of-us" target="_blank">
		<p class="underline">soundcloud</p>
	</a>
	<a href="https://music.apple.com/us/playlist/blueprint-of-us/pl.u-38oWMX5CdZvR3L" target="_blank">
		<p class="underline">apple music</p>
	</a>
	<a href="https://open.spotify.com/playlist/1xrAOGQIqOHWYuTDplNmqR?si=ab77cb16823848d1" target="_blank">
		<p class="underline">spotify</p>
	</a>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' centerNavUrl='playlists' rightNavItem='Blueprint of Us' navType='sticky' }}