<img src="img/boyracer.jpg" alt="boyracer" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">boyracer</h1>
	<p>DTX <br>2.28.26</p>
	<p>taste notes: electropop, electroclash, beverly hills bloghouse</p>
	<a href="https://posh.vip/e/boyracer" target="_blank">
		<p class="underline">tickets</p>
	</a>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='house parties' centerNavUrl='parties' rightNavItem='boyracer' navType='sticky' }}