<img src="img/chris_val.jpg" alt="chris val" class="u-full-width">
<div class="pl2 pr2 pt2 pb5">
	<a href="https://www.instagram.com/chriss.val/" target="_blank" class="float-right">
		<img src="img/ig.svg" alt="instagram">
	</a>
	<h1 class="entry-title bold-text">Chris Val</h1>
	<p><span class="curator">curator</p>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='players' centerNavUrl='players' rightNavItem='Chris Val' }}