<img src="img/chris_val.png" alt="chris val" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">Chris Val</h1>
	<p><span class="curator">curator</p>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='players' centerNavUrl='players' rightNavItem='Chris Val' }}