<img src="img/comfy_boy.png" alt="comfy boy" class="u-full-width">
<div class="pl2 pt2">
	<h1 class="entry-title bold-text">comfy boy</h1>
	<p><span class="dev">dev<br><span class="curator">curator<br><span class="organizer">organizer</span></p>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='players' centerNavUrl='players' rightNavItem='comfy boy' }}