<img src="img/comfy_boy.jpg" alt="comfy boy" class="u-full-width">
<div class="pl2 pr2 pt2 pb5">
	<a href="https://www.instagram.com/prodkev/" target="_blank" class="float-right">
		<img src="img/ig.svg" alt="instagram">
	</a>
	<h1 class="entry-title bold-text">comfy boy</h1>
	<p><span class="dev">dev<br><span class="curator">curator<br><span class="organizer">organizer</span></p>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='players' centerNavUrl='players' rightNavItem='comfy boy' navType='sticky' }}