<img src="img/costa_boy.jpg" alt="costa boy" class="u-full-width">
<div class="pl2 pr2 pt2 pb5">
	<a href="https://www.instagram.com/costaboyy/" target="_blank" class="float-right">
		<img src="img/ig.svg" alt="instagram">
	</a>
	<h1 class="entry-title bold-text">Costa Boy</h1>
	<p><span class="street">street</p>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='players' centerNavUrl='players' rightNavItem='Costa Boy' }}