<img src="img/crying_at_high_speed.jpg" alt="crying at high speed" class="u-full-width">
<div class="px2 pt2 pb5">
	<h1 class="entry-title bold-text">crying at high speed</h1>
	<p>traveling with you—dedication at every turn<br>
		max volume can’t reach the highs we’ve hit<br>
		green lights reflect off your red eyes<br>
		outside the window, memories play like b-roll<br>
		every downshift brings something back<br> 
		the ghost of us is gaining in the rearview<br>
		the road ahead says nothing. and neither do we.</p>
	<a href="https://soundcloud.com/616-house/sets/crying-at-high-speed" target="_blank">
		<p class="underline">soundcloud</p>
	</a>
	<a href="https://music.apple.com/us/playlist/crying-at-high-speed/pl.u-mJy8VyJFyYb8GD" target="_blank">
		<p class="underline">apple music</p>
	</a>
	<a href="https://open.spotify.com/playlist/7EWuCk8p8BWm8WZkRk4fWS?si=443632b83db14372" target="_blank">
		<p class="underline">spotify</p>
	</a>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' centerNavUrl='playlists' rightNavItem='crying at high speed' navType='sticky' }}