<img src="img/hamilton_house.jpg" alt="hamilton house playlist" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">hamilton house</h1>
	<p>the other, darker side of the secret society. rough around the edges and even a little sloppy, but still the hot, snobby, elite. the only chaser at these functions is another martini. lucky enough to find the key master?</p>
	<a href="https://soundcloud.com/616-house/sets/hamilton-house" target="_blank">
		<p class="underline">soundcloud</p>
	</a>
	<a href="https://music.apple.com/us/playlist/hamilton-house/pl.u-DdANGDNCmNjpyq" target="_blank">
		<p class="underline">apple music</p>
	</a>
	<a href="https://open.spotify.com/playlist/2zTTVSsHfBbrSzajyjAyj2?si=a7dff4ff2bbb4e02" target="_blank">
		<p class="underline">spotify</p>
	</a>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' centerNavUrl='playlists' rightNavItem='hamilton house' navType='sticky' }}