<img src="img/hemingways_guide_to_sleaze_and_3pm_brunch.jpg" alt="Hemingway's guide to sleaze and 3pm brunch playlist" class="u-full-width">
<div class="px2 pt2 pb5">
	<h1 class="entry-title bold-text">Hemingway's guide to sleaze and 3pm brunch</h1>
	<p>they’re hot, regardless of the sweat-seeped clothes. the clanking of glasses is shallow. a metaphor for the company? empty glasses do lead to deeper conversations. I wonder what Hemingway would be drinking if he were here?</p>
	<a href="https://soundcloud.com/616-house/sets/hemingways-guide-to-sleaze" target="_blank">
		<p class="underline">soundcloud</p>
	</a>
	<a href="https://music.apple.com/us/playlist/hemingways-guide-to-sleaze-and-3pm-brunch/pl.u-11zBV0bU2KApxb" target="_blank">
		<p class="underline">apple music</p>
	</a>
	<a href="https://open.spotify.com/playlist/3pCoVlKDmLM0W47bufbVgo?si=cafd7f0ab7ff467f" target="_blank">
		<p class="underline">spotify</p>
	</a>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' centerNavUrl='playlists' rightNavItem='Hemingway\'s guide to sleaze and 3pm brunch' }}