<div class="room-tile six-top center-text">
	<a href="#parties" data-goto="parties">
		<h2 class="room-number">6</h2>
	</a>
</div>
<div class="room-tile one center-text">
	<a href="#playlists" data-goto="playlists">
  	<h2 class="room-number">1</h2>
	</a>
</div>
<div class="room-tile six-bottom center-text">
	<a href="#players" data-goto="players">
  	<h2 class="room-number">6</h2>
	</a>
</div>