<img src="img/lipstick_lounge.png" alt="lipstick lounge" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">lipstick lounge</h1>
	<p>DTX <br>7.22.23</p>
	<p>dm for address day of</p>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='house parties' centerNavUrl='parties' rightNavItem='lipstick lounge' }}