<img src="img/lipstick_lounge_playlist.jpg" alt="lipstick lounge playlist" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">lipstick lounge</h1>
	<p>bodies glitching to the pink strobe. I close my eyes and focus on the hypnotizing female vocals reverberating over the beat. I feel a presence near me, an imaginary seductive whisper that drowns out the music. I open my eyes and catch a glimpse of her piercing on her lip ~ it’s perfect.</p>
	<a href="https://soundcloud.com/616-house/sets/lipstick-lounge" target="_blank">
		<p class="underline">soundcloud</p>
	</a>
	<a href="https://music.apple.com/us/playlist/lipstick-lounge/pl.u-V9D7Z1KtEjRoq6" target="_blank">
		<p class="underline">apple music</p>
	</a>
	<a href="https://open.spotify.com/playlist/3kEC2MUuaEOXhE4EYOAkn3?si=aaf8c6ed04c84d7a" target="_blank">
		<p class="underline">spotify</p>
	</a>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' centerNavUrl='playlists' rightNavItem='lipstick lounge' }}