<img src="img/mach_28.png" alt="mach 28" class="u-full-width">
<div class="pl2 pt2">
	<h1 class="party-title display-inline pr1">MACH28</h1>
	<p class="tag px2 py1 display-inline">private</p>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='house parties' centerNavUrl='parties' rightNavItem='MACH28' }}