<img src="img/mach28_playlist.png" alt="MACH28 playlist" class="u-full-width">
<div class="pl2 pt2">
	<h1 class="entry-title bold-text">MACH28</h1>
	<p>28 and I still wanna party.</p>
	<a href="https://soundcloud.com/616-house/sets/mach28" target="_blank">
		<p class="underline">soundcloud</p>
	</a>
	<a href="https://music.apple.com/us/playlist/mach28/pl.u-mJy89JEFyYb8GD" target="_blank">
		<p class="underline">apple music</p>
	</a>
	<a href="https://open.spotify.com/playlist/0l1nJOfahStas0FcFy3L5A?si=a61e0afe2bf646df" target="_blank">
		<p class="underline">spotify</p>
	</a>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' centerNavUrl='playlists' rightNavItem='MACH28' }}