<img src="img/mach28.png" alt="MACH28" class="u-full-width">
<div class="px2 pt2 pb5">
	<h1 class="entry-title bold-text display-inline pr1">MACH28</h1>
	<p class="tag px2 py1 display-inline">private</p>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='house parties' centerNavUrl='parties' rightNavItem='MACH28' navType='sticky' }}