<img src="img/manhattan_speed.png" alt="Manhattan speed playlist" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">Manhattan speed</h1>
	<p>time seems to fly by faster in the city. so fast the memories become one blurry reel, like watching people through a window from inside a speeding subway train. before I know it I'm looking back, wishing I had stayed at the destination for longer.</p>
	<a href="https://soundcloud.com/616-house/sets/manhattan-speed" target="_blank">
		<p class="underline">soundcloud</p>
	</a>
	<a href="https://music.apple.com/us/playlist/manhattan-speed/pl.u-V9D7Z7ktEjRoq6" target="_blank">
		<p class="underline">apple music</p>
	</a>
	<a href="https://open.spotify.com/playlist/4SPjcOnXqdMbPmWc2VqlG0?si=450f3123573d49d8" target="_blank">
		<p class="underline">spotify</p>
	</a>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' centerNavUrl='playlists' rightNavItem='Manhattan speed' }}