<img src="img/ninsei.jpg" alt="ninsei" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">NINSEI</h1>
	<p>DTX <br>1.27.24</p>
	<p>dm for address day of</p>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='house parties' centerNavUrl='parties' rightNavItem='NINSEI' navType='sticky' }}