<img src="img/pad_4.jpg" alt="pad 4" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">pad 4</h1>
	<p>what do I do when my stream of consciousness is nothing but you<br>
		let it flow out until there's nothing left?<br>
		the river is endless<br>
		2018 never felt so distant</p>
	<a href="https://soundcloud.com/616-house/sets/pad-4" target="_blank">
		<p class="underline">soundcloud</p>
	</a>
	<a href="https://music.apple.com/us/playlist/pad-4/pl.u-9N9L10JsXyjR2a" target="_blank">
		<p class="underline">apple music</p>
	</a>
	<a href="https://open.spotify.com/playlist/5qClXzF3j4cwdrBMOCImyi?si=167816c6f4b144ab" target="_blank">
		<p class="underline">spotify</p>
	</a>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' centerNavUrl='playlists' rightNavItem='pad 4' navType='sticky' }}