<a href="#mach28" data-goto="mach28">
	<img src="img/mach28.png" alt="MACH28" class="entry-tile">
</a>
<a href="#lipstick-lounge" data-goto="lipstick-lounge">
	<img src="img/lipstick_lounge.png" alt="lipstick lounge" class="entry-tile">
</a>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='house parties' }}