<a href="#kvn-michael" data-goto="kvn-michael">
	<img src="img/kvn_michael.jpg" alt="kvn michael" class="entry-tile">
</a>
<a href="#chris-val" data-goto="chris-val">
	<img src="img/chris_val.jpg" alt="chris val" class="entry-tile">
</a>
<a href="#costa-boy" data-goto="costa-boy">
	<img src="img/costa_boy.jpg" alt="costa boy" class="entry-tile">
</a>
<a href="#romi" data-goto="romi">
	<img src="img/romi.jpg" alt="ROMI" class="entry-tile">
</a>
<a href="#trev" data-goto="trev">
	<img src="img/trev.jpg" alt="trev" class="entry-tile">
</a>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='players' navType='fixed' }}