<a href="#mach28-playlist" data-goto="mach28-playlist">
	<img src="img/mach28_playlist.png" alt="MACH28 playlist" class="entry-tile">
</a>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' }}