<a href="#comfy-boy" data-goto="comfy-boy">
	<img src="img/comfy_boy.jpg" alt="comfy boy" class="entry-tile">
</a>
<a href="#chris-val" data-goto="chris-val">
	<img src="img/chris_val.jpg" alt="chris val" class="entry-tile">
</a>
<a href="#costa-boy" data-goto="costa-boy">
	<img src="img/costa_boy.jpg" alt="costa boy" class="entry-tile">
</a>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='players' }}