<a href="#mach28-playlist" data-goto="mach28-playlist">
	<img src="img/mach28_playlist.jpg" alt="MACH28 playlist" class="entry-tile">
</a>
<a href="#popped-x-at-a-loft-party" data-goto="popped-x-at-a-loft-party">
	<img src="img/popped_x_at_a_loft_party.jpg" alt="popped x at a loft party playlist" class="entry-tile">
</a>
<a href="#manhattan-speed" data-goto="manhattan-speed">
	<img src="img/manhattan_speed.jpg" alt="Manhattan speed playlist" class="entry-tile">
</a>
<a href="#hamilton-house" data-goto="hamilton-house">
	<img src="img/hamilton_house.jpg" alt="hamilton house playlist" class="entry-tile">
</a>
<a href="#lipstick-lounge-playlist" data-goto="lipstick-lounge-playlist">
	<img src="img/lipstick_lounge_playlist.jpg" alt="lipstick lounge playlist" class="entry-tile">
</a>
<a href="#ninsei-playlist" data-goto="ninsei-playlist">
	<img src="img/ninsei_playlist.jpg" alt="NINSEI playlist" class="entry-tile">
</a>
<a href="#707" data-goto="707">
	<img src="img/707.jpg" alt="707" class="entry-tile">
</a>
<a href="#pad-4" data-goto="pad-4">
	<img src="img/pad_4.jpg" alt="pad 4" class="entry-tile">
</a>
<a href="#arias-waiting-room" data-goto="arias-waiting-room">
	<img src="img/arias_waiting_room.jpg" alt="Aria's waiting room" class="entry-tile">
</a>
<a href="#blueprint-of-us" data-goto="blueprint-of-us">
	<img src="img/blueprint_of_us.jpg" alt="Blueprint of Us" class="entry-tile">
</a>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' }}