<a href="#mach28-playlist" data-goto="mach28-playlist">
	<img src="img/mach28_playlist.png" alt="MACH28 playlist" class="entry-tile">
</a>
<a href="#popped-x-at-a-loft-party" data-goto="popped-x-at-a-loft-party">
	<img src="img/popped_x_at_a_loft_party.png" alt="popped x at a loft party playlist" class="entry-tile">
</a>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' }}