<a href="#mach28-playlist" data-goto="mach28-playlist">
	<img src="img/mach28_playlist.jpg" alt="MACH28 playlist" class="entry-tile">
</a>
<a href="#popped-x-at-a-loft-party" data-goto="popped-x-at-a-loft-party">
	<img src="img/popped_x_at_a_loft_party.jpg" alt="popped x at a loft party playlist" class="entry-tile">
</a>
<a href="#manhattan-speed" data-goto="manhattan-speed">
	<img src="img/manhattan_speed.jpg" alt="Manhattan speed playlist" class="entry-tile">
</a>
<a href="#hamilton-house" data-goto="hamilton-house">
	<img src="img/hamilton_house.jpg" alt="hamilton house playlist" class="entry-tile">
</a>
<a href="#lipstick-lounge-playlist" data-goto="lipstick-lounge-playlist">
	<img src="img/lipstick_lounge_playlist.jpg" alt="lipstick lounge playlist" class="entry-tile">
</a>
<a href="#ninsei-playlist" data-goto="ninsei-playlist">
	<img src="img/ninsei_playlist.jpg" alt="NINSEI playlist" class="entry-tile">
</a>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' }}