<img src="img/popped_x_at_a_loft_party.png" alt="popped x at a loft party playlist" class="u-full-width">
<div class="px2 pt2">
	<h1 class="entry-title bold-text">popped x at a loft party</h1>
	<p>stumbling through the hallway, heard the walls shaking from the sub so I followed. walked in uninvited, felt like just another silhouette. can’t recall the rest of the night but there was a lot of pretty sights and pretty sounds.</p>
	<a href="https://soundcloud.com/616-house/sets/popped-x-at-a-loft-party" target="_blank">
		<p class="underline">soundcloud</p>
	</a>
	<a href="https://music.apple.com/us/playlist/popped-x-at-a-loft-party/pl.u-V9D7mBdhEjRoq6" target="_blank">
		<p class="underline">apple music</p>
	</a>
	<a href="https://open.spotify.com/playlist/4p2RynaFIZs6WvQLkCn9vE?si=f82010d4c8754e2c" target="_blank">
		<p class="underline">spotify</p>
	</a>
</div>

<!-- {{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' centerNavUrl='playlists' rightNavItem='popped x' }} -->