<img src="img/pretty_girls_love_trance.png" alt="pretty girls love trance" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">pretty girls love trance</h1>
	<p>DTX <br>3.1.25</p>
	<p>taste notes: trance, anjunabeats '04, sunrise serenades</p>
	<p>dm for address day of</p>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='house parties' centerNavUrl='parties' rightNavItem='pretty girls love trance' navType='sticky' }}