<img src="img/the_ingenues_affair.jpg" alt="the ingenues affair" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">the ingénue’s affair with dark romance
and lofthouse</h1>
	<p>DTX <br>8.16.25</p>
	<p>taste notes: lofthouse, dark romance, erotic electronic</p>
	<p>dm for address day of</p>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='house parties' centerNavUrl='parties' rightNavItem='the ingénue’s affair' navType='sticky' }}