<img src="img/trev.jpg" alt="trev" class="u-full-width">
<div class="pl2 pr2 pt2 pb5">
	<a href="https://www.instagram.com/trevordeluna14/" target="_blank" class="float-right">
		<img src="img/ig.svg" alt="instagram">
	</a>
	<h1 class="entry-title bold-text">trev</h1>
	<p><span class="street">street</p>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='players' centerNavUrl='players' rightNavItem='trev' navType='sticky' }}