<img src="img/vanity_club.jpg" alt="vanity club" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">vanity club</h1>
	<p>DTX <br>6.8.24</p>
	<p>taste notes: lofthouse, future rnb, erotic electronic, the idol</p>
	<p>rsvp with a player or dm</p>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='house parties' centerNavUrl='parties' rightNavItem='vanity club' }}