<img src="img/weekndr_extended.jpg" alt="weekndr (extended) playlist" class="u-full-width">
<div class="px2 pt2 pb5">
	<h1 class="entry-title bold-text">weekndr (extended)</h1>
	<p>a kiss on the cheek to introduce you to the city,<br>
		the feel to need to go kinetic, to become offline-curious.<br>
		it really was only a weekend, until it stayed.<br>
		I move with a gentleman’s edge,<br>
		carry it light, like an overnight bag.<br>
		running into her meant we didn’t have to rush -<br>
		the city did that for us.<br>
		living in the in-betweens,<br>
		reflection only takes place in the elevator mirror.<br>
		club nights run out into early mornings,<br>
		a paper cup warming her hands.<br>
		2:12 ~ a photo timestamp,<br>
		proof the night was still pulsing.<br>
		the flutter, the warmth that arrives before logic.<br>
		I didn’t pack for this feeling,<br>
		kind of thing the city slips into your pocket before you leave.</p>
	<a href="https://soundcloud.com/616-house/sets/weekndr-extended" target="_blank">
		<p class="underline">soundcloud</p>
	</a>
	<a href="https://music.apple.com/us/playlist/weekndr-extended/pl.u-11zBMWaI2KApxb" target="_blank">
		<p class="underline">apple music</p>
	</a>
	<a href="https://open.spotify.com/playlist/3VNnF8G0fBynyF1nRZsz9y?si=25526f3cbb29459c" target="_blank">
		<p class="underline">spotify</p>
	</a>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='playlists' centerNavUrl='playlists' rightNavItem='weekndr (extended)' navType='sticky' }}