<img src="img/yearbook_signatures.jpg" alt="yearbook signatures" class="u-full-width">
<div class="pl2 pt2 pb5">
	<h1 class="entry-title bold-text">yearbook signatures</h1>
	<p>CCTX <br>12.27.24</p>
	<p>taste notes: lofthouse, erotic electronic, electropop</p>
</div>

{{> nav leftNavItem='rooms' leftNavUrl='home' centerNavItem='house parties' centerNavUrl='parties' rightNavItem='yearbook signatures' navType='sticky' }}